.width_15{
    width:18%;
}
.width_10{
    width:10%;
}
.custom_button_stateful{
    --sds-c-button-neutral-spacing-inline-start: 0.6rem;
    --sds-c-button-neutral-spacing-inline-end: 0.2rem;
}